Pillow
SpeechRecognition
google-generativeai
googletrans==4.0.0rc1
gtts
keras
lime
matplotlib
numpy
opencv-python
pandas
pickle
python-dotenv
re
scikit-learn
skimage
streamlit
streamlit_chat
tensorflow