Pillow
SpeechRecognition
google-generativeai
googletrans==4.0.0rc1
gtts
keras
lime
matplotlib
numpy==1.24.3
opencv-python-headless==4.8.0.76
pandas
python-dotenv
scikit-learn
scikit-image
streamlit
streamlit_chat
tensorflow
gdown
